<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.system.mapper.SelectedcourseMapper" >
  <resultMap id="BaseResultMap" type="com.system.entity.Selectedcourse" >
    <result column="courseID" property="courseid" jdbcType="INTEGER" />
    <result column="studentID" property="studentid" jdbcType="INTEGER" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="selectStudentByCourseIdResultMap" type="com.system.entity.Selectedcourse" >
    <result column="userID" property="studentid" jdbcType="INTEGER" />
    <result column="userName" property="studentname" jdbcType="INTEGER" />
    <result column="mark" property="mark" jdbcType="INTEGER" />
    <result column="courseID" property="courseid" jdbcType="INTEGER" />
  </resultMap>

  <select id="selectStudentByCourseId" parameterType="java.lang.Integer" resultMap="selectStudentByCourseIdResultMap">
    SELECT
    student.userID,
    student.userName,
    selectedcourse.courseid,
    selectedcourse.mark
    FROM
    student
    INNER JOIN selectedcourse ON selectedcourse.studentID = student.userID
    WHERE
    selectedcourse.courseID = #{courseid}
  </select>

  <insert id="insert" parameterType="com.system.entity.Selectedcourse" >
    insert into selectedcourse (courseID, studentID
      )
    values (#{courseid,jdbcType=INTEGER}, #{studentid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.system.entity.Selectedcourse" >
    insert into selectedcourse
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="courseid != null" >
        courseID,
      </if>
      <if test="studentid != null" >
        studentID,
      </if>
      <if test="mark != null" >
        mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="courseid != null" >
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="studentid != null" >
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.system.entity.Selectedcourse">
    update selectedcourse
    <set>
      <if test="mark != null">
        mark = #{mark}
      </if>
    </set>
    where courseID = #{courseid} and studentID = #{studentid}
  </update>

  <delete id="delete">
    delete from selectedcourse
    where studentID = #{studentid} and courseID = #{courseid}
  </delete>
</mapper>